*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --primary: #002975;
    --secondary: #234075;
    --primary-light: #0056F5;
    --secondary-light: #4A87F7;

    --black: #0c0c0c;
    --azul-oscuro: #002975;
    --azul-medio: #1565c0;
    --gris-oscuro: #424242;
    --gris-claro: #9e9e9e;
    --white: #ffffff;

    --sm: 1.7rem;
    --md: 2.2rem;
    --lg: 2.7em;
    --x-lg: 4rem;

    --font-family: 'Lato', sans-serif;
}




body {
    font-family: var(--font-family);
    position: relative;
}

.container{
    margin: 24px 0;
}

.container__title{
    color: var(--black);
    font-size: var(--md);
    font-weight: bold;
    margin: 12px 0;
}

.container__title.dark{
    color: var(--white);
}

.glass-item {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.025);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    color: var(--black);
}

.glass-item.dark {
    color: var(--white);
}

@media (min-width: 320px){
    main{
        margin: 0 32px;
    }
}

@media (min-width: 768px){
    main{
        margin: 0 64px;
    }
   /*  main:after {
        background: rgb(35,64,117);
        background: linear-gradient(to right, rgba(35,64,117,1) 15%, rgba(11,19,32,1) 100%);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        clip-path: circle(25% at right 15%);
    }
    
    main:before {
        background: rgb(35,64,117);
        background: linear-gradient(to left, rgba(35,64,117,1) 15%, rgba(11,19,32,1) 100%);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        clip-path: circle(25% at 1% 80%);
    } */
}

@media (min-width: 1024px){
    main{
        margin: 0 128px;
    }
}