*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --primary: #002975;
    --secondary: #234075;
    --primary-light: #0056F5;
    --secondary-light: #4A87F7;

    --white: #fefefe;
    --black: #0e0e0e;

    --sm: 1.7rem;
    --md: 2.2rem;
    --lg: 2.7em;
    --x-lg: 3.2rem;

    --font-family: 'Lato', sans-serif;
}

body {
    font-family: var(--font-family);
}

.container{
    margin: 24px 0;
}

.container__title{
    color: var(--black);
    font-size: var(--md);
    font-weight: bold;
    margin: 12px;
}

.container__title.dark{
    color: var(--white);
}

main{
    display: grid;
    justify-content: center;
    margin: 0;
}

@media(min-width: 320px){
    main{
        grid-template-columns: repeat(4, 54px);
        gap: 24px;

    }
}

@media(min-width: 720px){
    main{
        grid-template-columns: repeat(8, 60px);
        justify-items: stretch;
        width:auto;
        gap: 32px;
    }
}

@media(min-width: 1024px){
    main{
        grid-template-columns: repeat(12, 64px);
        gap: 32px;
    }
}

