.container {
    min-height: 250px;
}

.container__content {
    animation: fadeIn 1s cubic-bezier(0.76, 0, 0.24, 1);
}

@media (min-width: 320px) {
    .container{
        grid-column: 1/5;
    }

}

@media (min-width: 720px) {
    .container{
        grid-column: 1/9;
    }
}

@media (min-width: 1024px) {
    .container{
        grid-column: 2/12;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.2;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);

    }
  }