@media (min-width: 320px) {
    .container{
        grid-column: 1/5;
    }

}

@media (min-width: 720px) {
    .container{
        grid-column: 1/9;
    }
}

@media (min-width: 1024px) {
    .container{
        grid-column: 2/12;
    }
}