.contact__item{
    align-items: center;
    background-color: var(--secondary);
    border-radius: 12px;
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: auto;
    margin: 12px;
    padding: 12px;
    text-decoration: none;
}


.contact__name{
    font-size: var(--sm);
    margin-left: 8px;
}


@media(min-width: 720px) {
    .contact{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }
    .contact__item{
        margin: 0px;
        transition: all 0.5s ease;
    }
}

@media (min-width: 1024px) {
    .contact__item{
        transition: all 0.5s ease;
    }
    .contact__item:hover{
        transform: scale(1.07);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px;

    }

}