.footer{
    background-color: var(--primary);
    font-size: var(--sm);
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 12px;
    text-align: center;
}

.footer__img {
    height: var(--md);
}