.header {
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    font-family: var(--font-family);
    position: relative;
    z-index: 1;
}

.header__title{
    display: flex;
    align-items: center;
}

.span__blue {
    background-color: var(--azul-oscuro);
    width: 100%;
    height: 8px;
}

.header__title h2{
    font-family: var(--font-family);
    font-size: var(--md);
    margin: 12px;
}

.toogle__item {
    animation: appearToggle 0.5s ease-in-out;
    position: absolute;
    right: 24px;
}

.nav__item {
    display: inline-block;
    margin: 8px;
    padding: 4px;
}

.nav__item a{
    color: var(--white);
    text-decoration: none;
}

.nav__item a:hover{
    text-decoration: underline;
}


@media (min-width: 320px){
    .header{
        flex-direction: column;
    }

    .header__nav {
        background-color: var(--azul-oscuro);
        font-size: var(--sm);
        font-weight: bold;
        transition: all 0.8s ease;
        position: absolute;
        top: -50vh;
        height: 32vh;
        width: 100vw;
        text-align: right;
    }

    .header__nav.active {
        display: flex;
        align-items: center;
        justify-content: right;
        top: 50px;
        transition: all 0.8s ease;
    }

    .header__nav.active .nav__item {
        display: none;
    }
    
    .header__nav.active .nav__item {
        display: inline-block;
        animation-delay: 1s;
        animation: appearToggle 1s ease-in-out;
    }

    .header__nav ul{
        display: flex;
        flex-direction: column;
    }

    .header__title{
        font-size: var(--md);
    }
}


@media(min-width: 768px){
    .header{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 64px;
    }

    .header__nav{
        background-color: var(--black);
        font-weight: 700;
        width: auto;
        height: auto;
        position: static;
    }

    .header__nav ul{
        flex-direction: row;
        justify-content: right;
        align-items: center;
    }

    .toogle__item {
        display: none;
    }
    
}

@media(min-width: 1024px) {
    .header{
        padding: 0 128px;
    }

    .toogle__item {
        display: none;
    }


}

@keyframes appearToggle {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}