header {
    align-items: center;
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    font-family: var(--font-family);
}

.header__title{
    display: flex;
    align-items: center;
}

.header__title h2{
    font-family: var(--font-family);
    font-size: var(--md);
    margin: 12px;
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__item{
    display: inline-block;
    margin: 8px;
    padding: 4px;
}

.nav__item a{
    color: var(--white);
    text-decoration: none;
}

.nav__item a:hover{
    text-decoration: underline;
}

input[type="checkbox"]{
    width: 0;
    height: 0;
    visibility: hidden;
}

label{
    background-color: var(--black);
    border-radius: 100px;
    box-shadow: 0 0 4px var(--secondary-light);
    cursor: pointer;
    display: inline-block;
    height: 25px;
    position: relative;
    transition: 0.5s;
    width: 60px;
}

label span.moon {
    fill: var(--white);
    height: 21px;
    position: absolute;
    top: 4px;
    right: 12px;
}

label span.sun svg {
    fill: var(--primary);
    height: 21px;
    position: absolute;
    top: 2px;
    left: 12px;
}

label:after{
    content: '';
    width: 21px;
    height: 21px;
    background-color: var(--secondary-light);
    position: absolute;
    border-radius: 70px;
    top: 2px;
    left: 2px;
    transition: 0.3s;
}

input:checked + label:after{
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

label:active:after{
    width: 40px;
}

input:checked + label {
    background-color: var(--white);
}

@media (min-width: 320px){
    .header{
        flex-direction: column;
    }

    .header__title{
        font-size: var(--md);
    }
    
    .header__nav{
        background-color: var(--secondary);
        font-size: var(--sm);
        width: 100vw;
    }
}


@media(min-width: 768px){
    .header{
        flex-direction: row;
        justify-content: space-between;
    }

    .header__nav{
        background-color: var(--primary);
        font-size: var(--sm);
        font-weight: 700;
        width: auto;
    }
}

@media(min-width: 1024px) {
    .header__title{
        margin-left: 120px;
    }

    .header__nav{
        margin-right: 80px;
    }
}