header {
    align-items: center;
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    font-family: var(--font-family);
}

.header__title{
    display: flex;
    align-items: center;
}

.header__title h2{
    font-family: var(--font-family);
    font-size: var(--md);
    margin: 12px;
}

.header__nav{
    text-align: center;
}

.nav__item{
    display: inline-block;
    margin: 8px;
    padding: 4px;
}

@media (min-width: 320px){
    .header{
        flex-direction: column;
    }

    .header__title{
        font-size: var(--md);
    }
    
    .header__nav{
        background-color: var(--secondary);
        font-size: var(--sm);
        width: 100vw;
    }
}


@media(min-width: 768px){
    .header{
        flex-direction: row;
        justify-content: space-between;
    }

    .header__nav{
        background-color: var(--primary);
        font-size: var(--sm);
        width: auto;
    }
}

@media(min-width: 1024px) {
    .header__title{
        margin-left: 120px;
    }

    .header__nav{
        margin-right: 80px;
    }
}
