.knowledge{
    display: grid;
}

.knowledge__item{
    border-radius: 12px;
    color: var(--secondary);
}

.knowledge__icon {
    margin: 12px;
    margin-right: 16px;
    color: var(--secondary-light);
}


.knowledge__name{
    font-size: var(--sm);
    font-weight: 700;
}

@media (min-width: 320px){
    .knowledge{
        grid-template-columns: repeat(2, minmax(120px, 1fr));
        gap: 16px;
        align-self: start;
        justify-content: center;
    }

    .knowledge__item{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 12px 0;
    }

    .knowledge__icon {
        width: 44px;
        align-self: center;
    }


}

@media (min-width: 720px){
    .knowledge{
        grid-template-columns: repeat(3, minmax(190px, 1fr));
        gap: 32px;
    }

    .knowledge__item{
        display: flex;
        flex-direction: row;
        font-size: var(--sm);
        align-items: center;
        justify-content: left;
        padding: 0;

        transition: all 1s ease;
    }

    .knowledge__item:hover{
        transform: translateX(12px);
        transition: all 0.4s ease;

    }
}

@media (min-width: 1024px){
    .knowledge{
        grid-template-columns: repeat(4, minmax(220px, 1fr));
        gap: 24px;
    }
}