.knowledge{
    justify-content: center;
    margin: 0px;
    display: grid;
}

.knowledge__item{
    background-color: var(--white);
    border-radius: 12px;
    color: var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px, inset rgba(100, 100, 100, 0.1) 0px 1px 1px;
}

.knowledge__item.dark{
    background-color: var(--black);
    color: var(--secondary-light);
}

.knowledge__icon {
    border-radius: 12px;
    margin: 12px;
}

.knowledge__name{
    font-size: var(--sm);
    font-weight: 700;
}

@media (min-width: 320px){
    .knowledge{
        grid-template-columns: repeat(4, 54px);
        gap: 24px;
    }

    .knowledge__item{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 12px 0;
    }

    .knowledge__item.item1{
        grid-column: 1/3;
    }

    .knowledge__item.item2{
        grid-column: 3/5;
    }

    .knowledge__item.item3{
        grid-column: 1/3;
    }

    .knowledge__item.item4{
        grid-column: 3/5;
    }
    .knowledge__item.item5{
        grid-column: 1/3;
    }
    .knowledge__item.item6{
        grid-column: 3/5;
    }

    .knowledge__item.item7{
        grid-column: 2/4;
    }

    .knowledge__icon {
        width: 44px;
        align-self: center;
    }


}

@media (min-width: 720px){
    .knowledge{
        grid-template-columns: repeat(6, 1fr);
        gap: 32px;
    }

    .knowledge__item{
        display: flex;
        flex-direction: row;
        font-size: var(--sm);
        align-items: center;
        justify-content: left;
        padding: 0;

        transition: all 1s ease;
    }

    .knowledge__item:hover{
        transform: translateX(12px);
        transition: all 0.4s ease;

    }

    .knowledge__item.item1{
        grid-column: 1/4;
    }

    .knowledge__item.item2{
        grid-column: 4/7;
    }

    .knowledge__item.item3{
        grid-column: 1/4;
    }

    .knowledge__item.item4{
        grid-column: 4/7;
    }
    .knowledge__item.item5{
        grid-column: 1/4;
    }
    .knowledge__item.item6{
        grid-column: 4/7;
    }

    .knowledge__item.item7{
        grid-column: 3/6;
    }

}

@media (min-width: 1024px){
    .knowledge{
        grid-template-columns: repeat(8, 1fr);
        gap: 24px;
    }

    .knowledge__item.item1{
        grid-column: 1/3;
    }

    .knowledge__item.item2{
        grid-column: 3/5;
    }

    .knowledge__item.item3{
        grid-column: 5/7;
    }

    .knowledge__item.item4{
        grid-column: 7/9;
    }
    .knowledge__item.item5{
        grid-column: 2/4;
    }
    .knowledge__item.item6{
        grid-column: 4/6;
    }

    .knowledge__item.item7{
        grid-column: 6/8;
    }

}