.knowledge{
    display: grid;
}

.knowledge__item{
    border-radius: 12px;
    color: var(--azul-medio);
    border: 2px solid var(--azul-oscuro);
    color: var(--black);
    background-color: var(--white);
}

.knowledge__item.dark{
    border: 2px solid var(--gris-oscuro);
    color: var(--white);
    background-color: var(--black);
}

.knowledge__icon {
    margin: 12px;
    margin-right: 16px;
    color: var(--azul-oscuro);
}

.knowledge__item.dark .knowledge__icon{
    color: var(--azul-medio);
}


.knowledge__name{
    font-size: var(--sm);
    font-weight: 700;
}

@media (min-width: 320px){
    .knowledge{
        grid-template-columns: repeat(2, minmax(120px, 1fr));
        gap: 16px;
        align-self: start;
        justify-content: center;
    }

    .knowledge__item{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 12px 0;
    }

    .knowledge__icon {
        width: 44px;
        align-self: center;
    }


}

@media (min-width: 720px){
    .knowledge{
        grid-template-columns: repeat(3, minmax(190px, 1fr));
        gap: 12px;
    }

    .knowledge__item{
        display: flex;
        flex-direction: row;
        font-size: var(--sm);
        align-items: center;
        justify-content: left;
        padding: 0;

    }
}

@media (min-width: 1024px){
    .knowledge{
        grid-template-columns: repeat(5, minmax(150px, 1fr));
        gap: 16px;
    }
}