#proyects {
    background-color: var(--azul-oscuro);
    border-radius: 12px;
    padding: 16px;
}

.proyects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.proyects__item{
    background-color: var(--white);
    border-radius: 12px;
    padding: 16px;
    top: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
}

.proyects__item.dark{
    background-color: var(--black);
}

.proyects__item:hover{
    background-color: var(--azul-medio);
    transition: all 0.3s ease-in-out;
}

.proyects__item.light{
}

.modal__bg {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #3b3b3bc5;
    top: 0;
    left: 0;
}

.modal__bg.showed {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.modal__bg.hidden {
    opacity: 0;
    transition: all 0.6s ease-in-out;
    visibility: hidden;
}

.modal__container.hidden {
    opacity: 0;
    transition: all 0.6s ease-in-out;
    visibility: hidden;
    top: -100%;
}

.modal__container {
    background-color: var(--white);
    width: fit-content;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    padding: 16px;
    position: fixed;
    z-index: 2;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.modal__text {
    margin: 16px 0;
}

.modal__text h3 {
    color: var(--black);
    font-size: var(--md);
    margin-bottom: 8px;
}

.modal__text p {
    color: var(--black);
    font-size: var(--sm);
}

.modal__img {
    width: 100%;
    border-radius: 12px;
    max-width: 720px;
    min-width: 240px;
    margin: 24px 0;
}

.modal__close {
    text-align: right;
}

.modal__close button {
    border: none;
    background-color: transparent;
    font-size: var(--md);
    color: var(--black);
    cursor: pointer;
    transition: all 0.5s;
}

.modal__btn {
    background-color: var(--azul-oscuro);
    border-radius: 12px;
    border: 1px solid var(--azul-oscuro);
    color: var(--white);
    cursor: pointer;
    font-size: var(--sm);
    padding: 8px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    width: fit-content;
}

.modal__btn:hover {
    background-color: var(--white);
    border: 1px solid var(--azul-oscuro);
    color: var(--black);
    transition: all 0.3s ease-in-out;
}

.proyect__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.proyects__title{
    color: var(--azul-medio);
    font-size: var(--md);
    margin: 8px;
}
.proyects__title.dark{
    color: var(--secondary-light);
}

.proyects__image {
    border-radius: 4px;
}

.proyects__image-16-9{
    aspect-ratio: 16/9;
}

.proyects__description {
    color: var(--black);
    font-size: var(--sm);
    margin: 8px;
}

.proyects__description.dark {
    color: var(--white);
}

.proyects__item .item__link {
    border-radius: 12px;
    color: var(--white);
    display: block;
    font-size: var(--sm);
    margin: 12px auto;
    padding: 8px;
    width: 80px;
    text-decoration: none;
    color: var(--white);
    transition: all 0.5s;
    position: relative;
}

.proyects__item .item__link:hover {
    color: var(--primary);
}

.proyects__item.dark .item__link:hover {
    color: var(--white);
}

.proyects__item .item__link::before {
    border-radius: 12px;

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--primary);
    transition: all 0.3s ease-in-out;

}
.proyects__item .item__link:hover::before {
    opacity: 0 ;
    transform: scale(0.75,0.75);
    transition: all 0.3s ease-in-out;
}
.proyects__item .item__link::after {
    border-radius: 12px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 2px solid var(--primary);
    transform: scale(1.1,1.1);
}

.proyects__item .item__link:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.proyects__item img {
    object-fit: cover;
}

.swiper {
    width: 100%;
    max-width: 720px;
}

@media(min-width: 320px) {
    .proyects{
        grid-template-columns: minmax(200px, 1fr);
    }
    .proyects__image{
        height: 150px;
    }
    .proyects__item{
        margin: 16px 0;
    }
}

@media(min-width: 720px) {
    .proyects{
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        gap: 24px;
    }
    .proyects__item{
        margin: 0;
    }
}

@media(min-width: 1024px){
    .proyects{
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}