.proyects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.proyects__item{
    border-radius: 12px;
    padding: 16px;
    margin: 16px 0;
}

.proyects__title{
    color: var(--secondary);
    font-size: var(--md);
    margin: 8px;
}
.proyects__title.dark{
    color: var(--secondary-light);
}

.proyects__image-16-9{
    aspect-ratio: 16/9;
}

.proyects__description {
    color: var(--black);
    font-size: var(--sm);
    margin: 8px;
}

.proyects__description.dark {
    color: var(--white);
}

.proyects__item .item__link {
    border-radius: 12px;
    color: var(--white);
    display: block;
    font-size: var(--sm);
    margin: 12px auto;
    padding: 8px;
    width: 80px;
    text-decoration: none;
    color: var(--white);
    transition: all 0.5s;
    position: relative;
}

.proyects__item .item__link:hover {
    color: var(--primary);
}

.proyects__item .item__link::before {
    border-radius: 12px;

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--primary);
    transition: all 0.3s ease-in-out;

}
.proyects__item .item__link:hover::before {
    opacity: 0 ;
    transform: scale(0.75,0.75);
    transition: all 0.3s ease-in-out;
}
.proyects__item .item__link::after {
    border-radius: 12px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 2px solid var(--primary);
    transform: scale(1.1,1.1);
}

.proyects__item .item__link:hover::after {
    opacity: 1;
    transform: scale(1,1);
}



@media(min-width: 320px) {
    .proyects{
        grid-template-columns: minmax(200px, 1fr);
    }
    .proyects__image{
        height: 150px;
    }
}

@media(min-width: 720px) {
    .proyects{
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        gap: 24px;
    }
}

@media(min-width: 1024px){
    .proyects__image{
        /* height: 200px; */
    }
}